<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.OrderMapper">
	<select id = "selectall" resultType="order">
		SELECT * FROM Lorder WHERE userid=#{userid} ORDER BY ODATE DESC	
	</select>
	
	<insert id="insert" parameterType="order">
			INSERT INTO LORDER VALUES
			(SEQ_ORDERNO.NEXTVAL, #{userid}, #{payid}, '배송현황(배송중)', SYSDATE,
			#{receiver}, #{orderphon},
			#{address}, #{quantitysum}, #{pricesum}, #{gender})
		 
		<selectKey keyProperty="orderno" resultType="Integer" order="AFTER"> 
			select seq_orderno.currval from dual
		</selectKey> 
	</insert>

	<delete id="delete">
		DELETE * FROM LORDER
	</delete>
	
</mapper>




















